.vis .overlay {
    /* Must be displayed above for example selected Timeline items */
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vis-active {
    box-shadow: 0 0 10px #86D5F8;
}

/* override some bootstrap styles screwing up the timelines css */
.vis [class*="span"] {
    min-height: 0;
    width: auto;
}

div.vis-configuration {
    position: relative;
    display: block;
    float: left;
    font-size: 12px;
}

div.vis-configuration-wrapper {
    display: block;
    width: 700px;
}

div.vis-configuration.vis-config-option-container {
    display: block;
    width: 495px;
    background-color: #FFFFFF;
    border: 2px solid #F7F8FA;
    border-radius: 4px;
    margin-top: 20px;
    left: 10px;
    padding-left: 5px;
}

div.vis-configuration.vis-config-button {
    display: block;
    width: 495px;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    background-color: #F7F8FA;
    border: 2px solid #CECED0;
    border-radius: 4px;
    margin-top: 20px;
    left: 10px;
    padding-left: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

div.vis-configuration.vis-config-button.hover {
    background-color: #4588E6;
    border: 2px solid #214373;
    color: #FFFFFF;
}

div.vis-configuration.vis-config-item {
    display: block;
    float: left;
    width: 495px;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
}

div.vis-configuration.vis-config-item.vis-config-s2 {
    left: 10px;
    background-color: #F7F8FA;
    padding-left: 5px;
    border-radius: 3px;
}

div.vis-configuration.vis-config-item.vis-config-s3 {
    left: 20px;
    background-color: #E4E9F0;
    padding-left: 5px;
    border-radius: 3px;
}

div.vis-configuration.vis-config-item.vis-config-s4 {
    left: 30px;
    background-color: #CFD8E6;
    padding-left: 5px;
    border-radius: 3px;
}

div.vis-configuration.vis-config-header {
    font-size: 18px;
    font-weight: bold;
}

div.vis-configuration.vis-config-label {
    width: 120px;
    height: 25px;
    line-height: 25px;
}

div.vis-configuration.vis-config-label.vis-config-s3 {
    width: 110px;
}

div.vis-configuration.vis-config-label.vis-config-s4 {
    width: 100px;
}

div.vis-configuration.vis-config-colorBlock {
    top: 1px;
    width: 30px;
    height: 19px;
    border: 1px solid #444444;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

input.vis-configuration.vis-config-checkbox {
    left: -5px;
}

input.vis-configuration.vis-config-rangeinput {
    position: relative;
    top: -5px;
    width: 60px;
    height: 13px;
    padding: 1px;
    margin: 0;
    pointer-events: none;
}

input.vis-configuration.vis-config-range {
    -webkit-appearance: none;
    border: 0 solid white;
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    height: 20px;
}

input.vis-configuration.vis-config-range::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #DEDEDE;
    background: -moz-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DEDEDE), color-stop(99%, #C8C8C8));
    background: -webkit-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: -o-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: -ms-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: linear-gradient(to bottom, #DEDEDE 0%, #C8C8C8 99%);
    border: 1px solid #999999;
    box-shadow: #AAAAAA 0 0 3px 0;
    border-radius: 3px;
}

input.vis-configuration.vis-config-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #14334B;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #3876C2;
    background: -moz-linear-gradient(top, #3876C2 0%, #385380 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3876C2), color-stop(100%, #385380));
    background: -webkit-linear-gradient(top, #3876C2 0%, #385380 100%);
    background: -o-linear-gradient(top, #3876C2 0%, #385380 100%);
    background: -ms-linear-gradient(top, #3876C2 0%, #385380 100%);
    background: linear-gradient(to bottom, #3876C2 0%, #385380 100%);
    box-shadow: #111927 0 0 1px 0;
    margin-top: -7px;
}

input.vis-configuration.vis-config-range:focus {
    outline: none;
}

input.vis-configuration.vis-config-range:focus::-webkit-slider-runnable-track {
    background: #9D9D9D;
    background: -moz-linear-gradient(top, #9D9D9D 0%, #C8C8C8 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9D9D9D), color-stop(99%, #C8C8C8));
    background: -webkit-linear-gradient(top, #9D9D9D 0%, #C8C8C8 99%);
    background: -o-linear-gradient(top, #9D9D9D 0%, #C8C8C8 99%);
    background: -ms-linear-gradient(top, #9D9D9D 0%, #C8C8C8 99%);
    background: linear-gradient(to bottom, #9D9D9D 0%, #C8C8C8 99%);
}

input.vis-configuration.vis-config-range::-moz-range-track {
    width: 300px;
    height: 10px;
    background: #DEDEDE;
    background: -moz-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DEDEDE), color-stop(99%, #C8C8C8));
    background: -webkit-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: -o-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: -ms-linear-gradient(top, #DEDEDE 0%, #C8C8C8 99%);
    background: linear-gradient(to bottom, #DEDEDE 0%, #C8C8C8 99%);
    border: 1px solid #999999;
    box-shadow: #AAAAAA 0 0 3px 0;
    border-radius: 3px;
}

input.vis-configuration.vis-config-range::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #385380;
}

/* hide the outline behind the border */
input.vis-configuration.vis-config-range:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input.vis-configuration.vis-config-range::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

input.vis-configuration.vis-config-range::-ms-fill-lower {
    background: #777777;
    border-radius: 10px;
}

input.vis-configuration.vis-config-range::-ms-fill-upper {
    background: #DDDDDD;
    border-radius: 10px;
}

input.vis-configuration.vis-config-range::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #385380;
}

input.vis-configuration.vis-config-range:focus::-ms-fill-lower {
    background: #888888;
}

input.vis-configuration.vis-config-range:focus::-ms-fill-upper {
    background: #CCCCCC;
}

.vis-configuration-popup {
    position: absolute;
    background: rgba(57, 76, 89, .85);
    border: 2px solid #F2FAFF;
    line-height: 30px;
    height: 30px;
    width: 150px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 4px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.vis-configuration-popup::after, .vis-configuration-popup::before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.vis-configuration-popup::after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: rgba(57, 76, 89, .85);
    border-width: 8px;
    margin-top: -8px;
}

.vis-configuration-popup::before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #F2FAFF;
    border-width: 12px;
    margin-top: -12px;
}

.vis-timeline {
    position: relative;
    border: 1px solid #BFBFBF;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vis-panel {
    position: absolute;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top, .vis-panel.vis-bottom {
    border: 1px #BFBFBF;
}

.vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right {
    border-top-style: solid;
    border-bottom-style: solid;
    overflow: hidden;
}

.vis-panel.vis-center, .vis-panel.vis-top, .vis-panel.vis-bottom {
    border-left-style: solid;
    border-right-style: solid;
}

.vis-background {
    overflow: hidden;
}

.vis-panel > .vis-content {
    position: relative;
}

.vis-panel .vis-shadow {
    position: absolute;
    width: 100%;
    height: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.vis-panel .vis-shadow.vis-top {
    top: -1px;
    left: 0;
}

.vis-panel .vis-shadow.vis-bottom {
    bottom: -1px;
    left: 0;
}

.vis-labelset {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.vis-labelset .vis-label {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    color: #4D4D4D;
    box-sizing: border-box;
    border-bottom: 1px solid #BFBFBF;
}

.vis-labelset .vis-label.draggable {
    cursor: pointer;
}

.vis-labelset .vis-label:last-child {
    border-bottom: none;
}

.vis-labelset .vis-label .vis-inner {
    display: inline-block;
    padding: 5px;
}

.vis-labelset .vis-label .vis-inner.vis-hidden {
    padding: 0;
}

.vis-itemset {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vis-itemset .vis-background, .vis-itemset .vis-foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.vis-axis {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    z-index: 1;
}

.vis-foreground .vis-group {
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #BFBFBF;
}

.vis-foreground .vis-group:last-child {
    border-bottom: none;
}

.vis-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.vis-item {
    /* overflow: hidden; */
    position: absolute;
    color: #1A1A1A;
    border-color: #97B0F8;
    border-width: 1px;
    background-color: #D5DDF6;
    display: inline-block;
}

.vis-item.vis-selected {
    /* z-index must be higher than the z-index of custom time bar and current time bar */
    z-index: 2;
    border-color: #FFC200;
    background-color: #FFF785;
}

.vis-editable.vis-selected {
    cursor: move;
}

.vis-item.vis-point.vis-selected {
    background-color: #FFF785;
}

.vis-item.vis-box {
    text-align: center;
    border-style: solid;
    border-radius: 2px;
}

.vis-item.vis-point {
    background: none;
}

.vis-item.vis-dot {
    position: absolute;
    padding: 0;
    border-width: 4px;
    border-style: solid;
    border-radius: 4px;
}

.vis-item.vis-range {
    border-style: solid;
    border-radius: 2px;
    box-sizing: border-box;
}

.vis-item.vis-background {
    border: none;
    background-color: rgba(213, 221, 246, .4);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.vis-item .vis-item-overflow {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.vis-item.vis-range .vis-item-content {
    position: relative;
    display: inline-block;
}

.vis-item.vis-background .vis-item-content {
    position: absolute;
    display: inline-block;
}

.vis-item.vis-line {
    padding: 0;
    position: absolute;
    width: 0;
    border-left-width: 1px;
    border-left-style: solid;
}

.vis-item .vis-item-content {
    white-space: nowrap;
    box-sizing: border-box;
    padding: 5px;
}

.vis-item .vis-delete {
    background: url("img/timeline/delete.png") no-repeat center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -4px;
    right: -24px;
    cursor: pointer;
}

.vis-item.vis-range .vis-drag-left {
    position: absolute;
    width: 24px;
    max-width: 20%;
    min-width: 2px;
    height: 100%;
    top: 0;
    left: -4px;
    cursor: w-resize;
}

.vis-item.vis-range .vis-drag-right {
    position: absolute;
    width: 24px;
    max-width: 20%;
    min-width: 2px;
    height: 100%;
    top: 0;
    right: -4px;
    cursor: e-resize;
}

.vis-time-axis {
    position: relative;
    overflow: hidden;
}

.vis-time-axis.vis-foreground {
    top: 0;
    left: 0;
    width: 100%;
}

.vis-time-axis.vis-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vis-time-axis .vis-text {
    position: absolute;
    color: #4D4D4D;
    padding: 3px;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
}

.vis-time-axis .vis-text.vis-measure {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    visibility: hidden;
}

.vis-time-axis .vis-grid.vis-vertical {
    position: absolute;
    border-left: 1px solid;
}

.vis-time-axis .vis-grid.vis-minor {
    border-color: #E5E5E5;
}

.vis-time-axis .vis-grid.vis-major {
    border-color: #BFBFBF;
}

.vis-current-time {
    background-color: #FF7F6E;
    width: 2px;
    z-index: 1;
}

.vis-custom-time {
    background-color: #6E94FF;
    width: 2px;
    cursor: move;
    z-index: 1;
}

.vis-panel.vis-background.vis-horizontal .vis-grid.vis-horizontal {
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 1px solid;
}

.vis-panel.vis-background.vis-horizontal .vis-grid.vis-minor {
    border-color: #E5E5E5;
}

.vis-panel.vis-background.vis-horizontal .vis-grid.vis-major {
    border-color: #BFBFBF;
}

.vis-data-axis .vis-y-axis.vis-major {
    width: 100%;
    position: absolute;
    color: #4D4D4D;
    white-space: nowrap;
}

.vis-data-axis .vis-y-axis.vis-major.vis-measure {
    padding: 0;
    margin: 0;
    border: 0;
    visibility: hidden;
    width: auto;
}

.vis-data-axis .vis-y-axis.vis-minor {
    position: absolute;
    width: 100%;
    color: #BEBEBE;
    white-space: nowrap;
}

.vis-data-axis .vis-y-axis.vis-minor.vis-measure {
    padding: 0;
    margin: 0;
    border: 0;
    visibility: hidden;
    width: auto;
}

.vis-data-axis .vis-y-axis.vis-title {
    position: absolute;
    color: #4D4D4D;
    white-space: nowrap;
    bottom: 20px;
    text-align: center;
}

.vis-data-axis .vis-y-axis.vis-title.vis-measure {
    padding: 0;
    margin: 0;
    visibility: hidden;
    width: auto;
}

.vis-data-axis .vis-y-axis.vis-title.vis-left {
    bottom: 0;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.vis-data-axis .vis-y-axis.vis-title.vis-right {
    bottom: 0;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vis-legend {
    background-color: rgba(247, 252, 255, .65);
    padding: 5px;
    border: 1px solid #B3B3B3;
    box-shadow: 2px 2px 10px rgba(154, 154, 154, .55);
}

.vis-legend-text {
    /* font-size: 10px; */
    white-space: nowrap;
    display: inline-block;
}

.vis-graph-group0 {
    fill: #4F81BD;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #4F81BD;
}

.vis-graph-group1 {
    fill: #F79646;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #F79646;
}

.vis-graph-group2 {
    fill: #8C51CF;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #8C51CF;
}

.vis-graph-group3 {
    fill: #75C841;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #75C841;
}

.vis-graph-group4 {
    fill: #FF0100;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #FF0100;
}

.vis-graph-group5 {
    fill: #37D8E6;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #37D8E6;
}

.vis-graph-group6 {
    fill: #042662;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #042662;
}

.vis-graph-group7 {
    fill: #00FF26;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #00FF26;
}

.vis-graph-group8 {
    fill: #FF00FF;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #FF00FF;
}

.vis-graph-group9 {
    fill: #8F3938;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #8F3938;
}

.vis-timeline .vis-fill {
    fill-opacity: .1;
    stroke: none;
}

.vis-timeline .vis-bar {
    fill-opacity: .5;
    stroke-width: 1px;
}

.vis-timeline .vis-point {
    stroke-width: 2px;
    fill-opacity: 1;
}

.vis-timeline .vis-legend-background {
    stroke-width: 1px;
    fill-opacity: .9;
    fill: #FFFFFF;
    stroke: #C2C2C2;
}

.vis-timeline .vis-outline {
    stroke-width: 1px;
    fill-opacity: 1;
    fill: #FFFFFF;
    stroke: #E5E5E5;
}

.vis-timeline .vis-icon-fill {
    fill-opacity: .3;
    stroke: none;
}

div.vis-network div.vis-manipulation {
    border-width: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #D6D9D8;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FCFCFC 48%, #FAFAFA 50%, #FCFCFC 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #FCFCFC 48%, #FAFAFA 50%, #FCFCFC 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #FCFCFC 48%, #FAFAFA 50%, #FCFCFC 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #FCFCFC 48%, #FAFAFA 50%, #FCFCFC 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
}

div.vis-network div.vis-edit-mode {
    position: absolute;
    left: 0;
    top: 15px;
    height: 30px;
}

/* FIXME: shouldn't the vis-close button be a child of the vis-manipulation div? */
div.vis-network div.vis-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-position: 20px 3px;
    background-repeat: no-repeat;
    background-image: url("img/network/cross.png");
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.vis-network div.vis-close:hover {
    opacity: .6;
}

div.vis-network div.vis-manipulation div.vis-button, div.vis-network div.vis-edit-mode div.vis-button {
    position: relative;
    top: -7px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 24px;
    margin: 0 0 0 10px;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 8px 0 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.vis-network div.vis-manipulation div.vis-button:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
}

div.vis-network div.vis-manipulation div.vis-button:active {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .5);
}

div.vis-network div.vis-manipulation div.vis-button.vis-back {
    background-image: url("img/network/backIcon.png");
}

div.vis-network div.vis-manipulation div.vis-button.vis-none:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0);
    cursor: default;
}

div.vis-network div.vis-manipulation div.vis-button.vis-none:active {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0);
}

div.vis-network div.vis-manipulation div.vis-button.vis-none {
    padding: 0;
}

div.vis-network div.vis-manipulation div.notification {
    margin: 2px;
    font-weight: bold;
}

div.vis-network div.vis-manipulation div.vis-button.vis-add {
    background-image: url("img/network/addNodeIcon.png");
}

div.vis-network div.vis-manipulation div.vis-button.vis-edit, div.vis-network div.vis-edit-mode div.vis-button.vis-edit {
    background-image: url("img/network/editIcon.png");
}

div.vis-network div.vis-edit-mode div.vis-button.vis-edit.vis-edit-mode {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
}

div.vis-network div.vis-manipulation div.vis-button.vis-connect {
    background-image: url("img/network/connectIcon.png");
}

div.vis-network div.vis-manipulation div.vis-button.vis-delete {
    background-image: url("img/network/deleteIcon.png");
}

/* top right bottom left */
div.vis-network div.vis-manipulation div.vis-label, div.vis-network div.vis-edit-mode div.vis-label {
    margin: 0 0 0 23px;
    line-height: 25px;
}

div.vis-network div.vis-manipulation div.vis-separator-line {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #BDBDBD;
    margin: 5px 7px 0 15px;
}

div.vis-network-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    white-space: nowrap;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #F5F4ED;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #808074;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    pointer-events: none;
}

div.vis-network div.vis-navigation div.vis-button {
    width: 34px;
    height: 34px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    position: absolute;
    display: inline-block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.vis-network div.vis-navigation div.vis-button:hover {
    box-shadow: 0 0 3px 3px rgba(56, 207, 21, .3);
}

div.vis-network div.vis-navigation div.vis-button:active {
    box-shadow: 0 0 1px 3px rgba(56, 207, 21, .95);
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    background-image: url("img/network/upArrow.png");
    bottom: 50px;
    left: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    background-image: url("img/network/downArrow.png");
    bottom: 10px;
    left: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    background-image: url("img/network/leftArrow.png");
    bottom: 10px;
    left: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    background-image: url("img/network/rightArrow.png");
    bottom: 10px;
    left: 95px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    background-image: url("img/network/plus.png");
    bottom: 10px;
    right: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    background-image: url("img/network/minus.png");
    bottom: 10px;
    right: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url("img/network/zoomExtends.png");
    bottom: 50px;
    right: 15px;
}

div.vis-color-picker {
    position: absolute;
    margin-top: -140px;
    margin-left: 30px;
    width: 293px;
    height: 425px;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: none;
    box-shadow: rgba(0, 0, 0, .5) 0 0 10px 0;
}

div.vis-color-picker div.vis-arrow {
    position: absolute;
    top: 147px;
    left: 5px;
}

div.vis-color-picker div.vis-arrow::after, div.vis-color-picker div.vis-arrow::before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

div.vis-color-picker div.vis-arrow::after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFFFFF;
    border-width: 30px;
    margin-top: -30px;
}

div.vis-color-picker div.vis-color {
    position: absolute;
    width: 289px;
    height: 289px;
    cursor: pointer;
}

div.vis-color-picker div.vis-brightness {
    position: absolute;
    top: 313px;
}

div.vis-color-picker div.vis-opacity {
    position: absolute;
    top: 350px;
}

div.vis-color-picker div.vis-selector {
    position: absolute;
    top: 137px;
    left: 137px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    background: #4C4C4C;
    background: -moz-linear-gradient(
        top,
        #4C4C4C 0%,
        #595959 12%,
        #666666 25%,
        #474747 39%,
        #2C2C2C 50%,
        #000000 51%,
        #111111 60%,
        #2B2B2B 76%,
        #1C1C1C 91%,
        #131313 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #4C4C4C),
        color-stop(12%, #595959),
        color-stop(25%, #666666),
        color-stop(39%, #474747),
        color-stop(50%, #2C2C2C),
        color-stop(51%, #000000),
        color-stop(60%, #111111),
        color-stop(76%, #2B2B2B),
        color-stop(91%, #1C1C1C),
        color-stop(100%, #131313)
    );
    background: -webkit-linear-gradient(
        top,
        #4C4C4C 0%,
        #595959 12%,
        #666666 25%,
        #474747 39%,
        #2C2C2C 50%,
        #000000 51%,
        #111111 60%,
        #2B2B2B 76%,
        #1C1C1C 91%,
        #131313 100%
    );
    background: -o-linear-gradient(
        top,
        #4C4C4C 0%,
        #595959 12%,
        #666666 25%,
        #474747 39%,
        #2C2C2C 50%,
        #000000 51%,
        #111111 60%,
        #2B2B2B 76%,
        #1C1C1C 91%,
        #131313 100%
    );
    background: -ms-linear-gradient(
        top,
        #4C4C4C 0%,
        #595959 12%,
        #666666 25%,
        #474747 39%,
        #2C2C2C 50%,
        #000000 51%,
        #111111 60%,
        #2B2B2B 76%,
        #1C1C1C 91%,
        #131313 100%
    );
    background: linear-gradient(
        to bottom,
        #4C4C4C 0%,
        #595959 12%,
        #666666 25%,
        #474747 39%,
        #2C2C2C 50%,
        #000000 51%,
        #111111 60%,
        #2B2B2B 76%,
        #1C1C1C 91%,
        #131313 100%
    );
}

div.vis-color-picker div.vis-new-color {
    position: absolute;
    width: 140px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    top: 380px;
    left: 159px;
    text-align: right;
    padding-right: 2px;
    font-size: 10px;
    color: rgba(0, 0, 0, .4);
    vertical-align: middle;
    line-height: 20px;
}

div.vis-color-picker div.vis-initial-color {
    position: absolute;
    width: 140px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    top: 380px;
    left: 10px;
    text-align: left;
    padding-left: 2px;
    font-size: 10px;
    color: rgba(0, 0, 0, .4);
    vertical-align: middle;
    line-height: 20px;
}

div.vis-color-picker div.vis-label {
    position: absolute;
    width: 300px;
    left: 10px;
}

div.vis-color-picker div.vis-label.vis-brightness {
    top: 300px;
}

div.vis-color-picker div.vis-label.vis-opacity {
    top: 338px;
}

div.vis-color-picker div.vis-button {
    position: absolute;
    width: 68px;
    height: 25px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 25px;
    top: 410px;
    border: 2px solid #D9D9D9;
    background-color: #F7F7F7;
    cursor: pointer;
}

div.vis-color-picker div.vis-button.vis-cancel {
    /* border:2px solid #ff4e33; */
    /* background-color: #ff7761; */
    left: 5px;
}

div.vis-color-picker div.vis-button.vis-load {
    /* border:2px solid #a153e6; */
    /* background-color: #cb8dff; */
    left: 82px;
}

div.vis-color-picker div.vis-button.vis-apply {
    /* border:2px solid #4588E6; */
    /* background-color: #82b6ff; */
    left: 159px;
}

div.vis-color-picker div.vis-button.vis-save {
    /* border:2px solid #45e655; */
    /* background-color: #6dff7c; */
    left: 236px;
}

div.vis-color-picker input.vis-range {
    width: 290px;
    height: 20px;
}

/* TODO: is this redundant? div.vis-color-picker input.vis-range-brightness {
     width: 289px !important;
}
 div.vis-color-picker input.vis-saturation-range {
     width: 289px !important;
}
*/
